.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-main {
  flex-grow: 1;
  padding: 20px;
}
